<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .center {
            margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
        }

        .footer-link {
            text-decoration: none; 
            color: inherit
        }

        .footer-link:hover {
            color: #0074D9;
        }
    </style>
    <title>Random Username Generator</title>
    <!-- Any script tag? Nope! This is Javascript free! -->
</head>
<body>
    <br>
    <h2 style="text-align: center;">Random Username Generator</h2>
    <p class="center">
        This is an admittedly very simple program which generates a random username for you to use when making accounts. It works similar to how 
        Xbox generates users' default gamertags. More definitively, a random adjective is selected from a giant list which is followed by a random noun and
        a number between 1 and 99. 
        Enjoy!
    </p>
    <p class="center"><b>How to use it</b>: simply press the button below and it will generate you a few usernames!</p>

<br> 

<div class='center' style="border: 2px solid green;">
    <a href=get_usernames ><button style="height:35px;width:60px">Click!</button></a>
  </div>

<div class="center">
    <p>Made by <a class='footer-link' href="https://rosikand.github.io/" target="_BLANK">Rohan Sikand</a> &middot; <a class='footer-link' href="https://github.com/rosikand/random-username" target="_BLANK">Source</a> &middot; Powered by <a class='footer-link' href="https://www.pythonanywhere.com/" target="_BLANK">pythonanywhere</a></p>
</div>

</body>
</html>
