<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .center {
            margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
        }
    </style>
    <title>Random Username Generator</title>
</head>
<body>
    <br>
    <h2 style="text-align: center;">Random Username Generator</h2>
    <p class="center">
        The randomly generated usernames are: 
    </p>
<br> 

<div class='center' style="border: 2px solid green;">
    
    <div class='container'>
        <h3>{{ username_list }}</h3>
    </div>

    <br>
    <a href=get_usernames ><button style="height:35px;width:90px">Try again!</button></a>
    <a href=/ ><button style="height:35px;width:60px">Home</button></a>
</div>


</body>
</html>